<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('Static',filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }} ">
        <link rel="stylesheet" href= "{{ url_for('Static',filename='node_modules/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('Static',filename='node_modules/bootstrap-social/bootstrap-social.css') }}">
        <link rel="stylesheet" href="{{ url_for('Static',filename='Static/css/ibmcss.css') }} ">

    <title>Liver disease prediction</title>

</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-sm  fixed-top" style="background-color:#9575CD;">
        <div class="container">
            <h1 style="color: floralwhite">Liver Disease Prediction</h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
           
            <div class="collapse navbar-collapse" id="Navbar">
                
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item "><a class="nav-link" href="#"><span class="fa fa-home fa-lg"></span>Home</a></li>
                    <li class="nav-item active"><a class="nav-link" href="/predict" ><span class="fa fa-info fa-lg"></span>Goto predict</a> </li>
          
                </ul>
                
            </div>
            
        </div>

    </nav>
<header class="jumbotron" >
    <div class="container">
        <div class="row row-header" style="padding-top: 60px;">
            <div class="col-12 col-sm-8">
                <h1>Liver Disease</h1>
                <p>There are many types of liver disease, which can be caused by infections, inherited conditions, obesity and misuse of alcohol. Over time, liver disease may lead to scarring and more serious complications. Early treatment can help heal the damage and prevent liver failure.</p>
            </div>
            <div class="ml-auto">
                <img src="static/img/liver.jpg" class="img-fluid" style="width:270px; height: 180px;">
            </div>
        </div>
    </div>
</header>

    

    <div class="container">
        

    
            <div class="row row-content ">
                <div class=" col-sm-8">
                  <h2>What is Liver Disease?</h2>
                   <p>Your liver is your body’s second-largest organ (after the skin). It sits just under your ribcage on the right side and is about the size of a football. The liver separates nutrients and waste as they move through your digestive system. It also produces bile, a substance that carries toxins out of your body and aids in digestion.The term “liver disease” refers to any of several conditions that can affect and damage your liver. Over time, liver disease can cause cirrhosis (scarring). As more scar tissue replaces healthy liver tissue, the liver can no longer function properly. Left untreated, liver disease can lead to liver failure and liver cancer.</p>
                  <h2>What causes different type of liver disease ?</h2>
                  <p>Different types of liver disease result from different causes. Liver disease may result from:</p>
                  <ul>
                   <li><p>Viral infections: Hepatitis A, hepatitis B and hepatitis C are diseases caused by a viral infection.</p></li>
                   <li><p>Problems with your immune system: When your immune system mistakenly attacks your liver, it can cause autoimmune liver diseases. These include primary biliary cholangitis and autoimmune hepatitis.</p></li>
                   <li><p>Inherited diseases: Some liver problems develop because of a genetic condition (one you inherit from your parents). Inherited liver diseases include Wilson disease and hemochromatosis.</p></li>
                   <li><p>Cancer: When abnormal cells multiply in your liver, you may develop tumors. These tumors may be benign (noncancerous) or malignant (liver cancer).</p></li>
                   <li><p>Consuming too many toxins: Alcohol-related fatty liver disease is the result of alcohol use. Non-alcohol related fatty liver disease (NAFLD) results from consuming too much fat. NAFLD is becoming more common as rates of obesity and diabetes rise.</p></li></ul>
                   <h2>What are the symptoms of liver disease?</h2>
                   <p>Some types of liver disease (including non-alcohol fatty liver disease) rarely cause symptoms. For other conditions, the most common symptom is jaundice — a yellowing of your skin and the whites of your eyes. Jaundice develops when your liver can’t clear a substance called bilirubin.</p>
                   <p>Other signs of liver disease may include:</p>
                   <ul>
                    <li><p>Abdominal (belly) pain (especially on the right side).</p></li>
                    <li><p>Bruising easily.</p></li>
                    <li><p>Changes in the color of your urine or stool.</p></li>
                    <li><p>Fatigue.</p></li>
                    <li><p>Nausea or vomiting.</p></li>
                    <li><p>Swelling in your arms or legs (edema).</p></li>
                   </ul>
                   <h2>What are the complications of liver disease?</h2>
                   <p>Some types of liver disease can increase your risk of developing liver cancer. Others, if left untreated, continue to damage your liver. Cirrhosis (scarring) develops.</p>
                   <p>Over time, a damaged liver won’t have enough healthy tissue to function. Liver disease that isn’t treated can eventually lead to liver failure</p>
                   
                </div>
            <div class="col-sm-4">
                <div class="card">
                    
                    <div class="card-body">
                        <dl>

                           <img src="static/img/liver1.jpg" class="img-fluid" style="width:300px"> 
                        </dl>

                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-body bg-light">
                   <blockquote class="blockquote">
                       <p class="mb-0" style="font-size:15px;">"Your liver is your vital detoxification organ, and if it becomes overloaded with toxins from the food, drink, or medications you're consuming, you'll have more toxins circulating throughout your body, damaging your organs and glands. Detoxing your liver will help it work more efficiently and help you slim your waistline." 
                       </p>
                       <footer class="blockquote-footer">Suzanne Somers
                       </footer>
                   </blockquote>
                </div>
            </div>
        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
        <script src="{{ url_for('Static',filename='node_modules/jquery/dist/jquery.slim.min.js') }} "></script>
        <script src="{{ url_for('Static',filename='node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
        <script src="{{ url_for('Static',filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    
</body>

</html>
