<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('Static',filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }} ">
        <link rel="stylesheet" href="{{ url_for('Static',filename='node_modules/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('Static',filename='node_modules/bootstrap-social/bootstrap-social.css') }}">
        <link rel="stylesheet" href="{{ url_for('Static',filename='Static/css/ibmcss.css') }}">
    <title>Liver disease predication</title>
    
    
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-sm  fixed-top"  style="background-color:#9575CD;">
        <div class="container">
            <h1 style="color: floralwhite">Liver disease prediction</h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="Navbar">
                
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active "><a class="nav-link" href="./"><span class="fa fa-home fa-lg"></span>Home</a></li>
                    <li class="nav-item "><a class="nav-link" href="#"><span class="fa fa-info fa-lg"></span>Goto predict</a> </li>
          
                </ul>
                
            </div>
            
        </div>

    </nav>



    <div class="offset-sm-1 col-sm-10" style="padding: 80px;" >
        <div class="card">
            <h3 class="card-header bg-warning text-white"  >
               <a name="Prediction"> PREDICTION RESULT</a>
                
                <div class="card-body">
                  <dl>
                    {{prediction}}
                </dl>  
        
       

            </div>

        </div>
    </div>  
    <br></br>                                                                                                       

    
    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script src="{{ url_for('Static',filename='node_modules/jquery/dist/jquery.slim.min.js') }} "></script>
    <script src="{{ url_for('Static',filename='node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('Static',filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  
        
    </script>

</body>

</html>
